{
  "android": {
    "keystore": {
      "keystorePath": "android/app/notemusic-release-key.keystore",
      "keystorePassword": "SUA_SENHA",
      "keyAlias": "notemusic-key-alias",
      "keyPassword": "SUA_SENHA"
    }
  }
}
