# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
keystore.properties
app/*-release-key.keystore
app/notemusic-release-key.keystore

# Bundle artifacts
*.jsbundle
